# Session 1

# Congratulations for installing Python and Jupyter Notebooks!

#### You've taken the first steps to learning Python and adding a new tool to your arsenal!!!

Let's start with something simple. Let's just print "Welcome to Python"

# Printing

In [ ]:
# You just have to use the in-built print function for this
print(Welcome to Python)

Oops! That didn't work?! Why? Let's wrap the sentence within quotes. Single or double don't matter for now.

In [ ]:
print('Welcome to Python')

That worked. That's because you were trying to print a sentence which is of the 'string' datatype and Strings always should be wrapped within quotes.

# Let's calculate something

In [ ]:
print(1+2)

That's perfect! We got the answer. How about some other calculations?

In [ ]:
print(5-2) # Subtraction is with the - (minus) operator

In [ ]:
print(5/2) # Single / is the division operator and you should get a float as the solution.
print(type(4/2))

In [ ]:
print(7//2.2) # Double // is an operator for 'floor division'. The output will be an integer
print(type(7//2.2))

In [ ]:
print(4*2) # The * (star) is the operator for multiplication.

In [ ]:
print(4**2) # Double ** is for power. So you can calculate squares, cubes, and so on.

By now you must've observed the use of '#' in the above cells. '#' is used to comment a line.

- Comments in Python is the inclusion of short descriptions along with the code to increase its readability.
- A developer uses them to write his or her thought process while writing the code.
- It explains the basic logic behind why a particular line of code was written.

In [ ]:
# This is a single line comment and it won't execute

In [ ]:
'''
sjfad;asj;df
jskdjf;ajksd;f

sjakhlfahlsfd


sadlfhlas
'''

In [ ]:
"""
jlskdajfajhsf

hjsadhfklasjhdf

ashjkldhflahjs
"""

In [ ]:
'THis is a string'

In [ ]:
'''
This is a string
'''

In [ ]:
'''
Python doesn't have specific syntax for multiline comments.
A string written in multiple lines could be used as a multi-line comment.

I can write many many lines and not
have to worry about running the code.
'''

Why did the above line print itself? We didn't ask it to print.

This is because multi-line comments are strings written in multiple lines. They aren't stored in a variable and so will be ignored.

In [ ]:
# You could also store the above lines in a variable and it's going to be a string
my_string = '''
Python doesn't have specific syntax for multiline comments.
A string writte in multiple lines could be used as a multi-line comment.

I can write many many lines and not
have to worry about running the code.
'''

Wait...what are Variables?

In [ ]:
# We stored the above string in a variable named my_string. Let's call it.
print(my_string)

In [ ]:
my_string = '''
a different string
'''

In [ ]:
my_string

In [ ]:
string1 = 'This is string 1'
string2 = 'This is string 2'

In [ ]:
string1

In [ ]:
string2

In [ ]:
# Variables for numbers
x = 1
y = 2

In [ ]:
print(x)

In [ ]:
print(x+y)

In [ ]:
x = 5

In [ ]:
print(x)

In [ ]:
x==1 # Is x equal to 1?

In [ ]:
x==5

In [ ]:
print(x)

In [ ]:
y==2

In [ ]:
x==2

In [ ]:
y==1

In [ ]:
# Single '=' is to assign a value to a variable.
# Double '==' is to check if the value on the left is equal to the value on the right

In [ ]:
my_string

In [ ]:
# Let's see what we can do with my_string
print(my_string + 'I am a new line')

In [ ]:
print(my_string + my_string)

In [ ]:
print(my_string*2)

In [ ]:
print(my_string/2)

In [ ]:
my_string

In [ ]:
my_string = '''
Python doesn't have specific syntax for multiline comments.
A string writte in multiple lines could be used as a multi-line comment.

I can write many many lines and not
have to worry about running the code.
'''

In [ ]:
my_string

In [ ]:
# REPLACE function
my_string = my_string.replace('Python','PYYYYTHHHOOOON')
print(my_string.replace('Python','PYYYYTHHHOOOON'))

In [ ]:
# SPLIT function
print(my_string.split())

What's this? A new datatype? Let's check what datatype it is.

In [ ]:
print(type(my_string.split()))

Ahaaa! A LIST! Lists are one of the most powerful data types in Python. Let's play with them a little more.

In [ ]:
# Let's store the above split string into a new variable
my_split_string = my_string.split()
print(my_split_string)

SPLIT function splits the string by spaces by default. You can also split string by any other character.

In [ ]:
print(my_string)

In [ ]:
# LENGTH Function
len(my_string) # How many characters did we have in my_string

In [ ]:
my_split_string

In [ ]:
# How many words did we have in our my_string variable?
len(my_split_string)

So we have 209 characters in my_string and we have 36 words in my_string

In [ ]:
# Let's look at a list of numbers
my_lst = [10,20,30,40,50]
my_lst

In [ ]:
type(my_lst)

In [ ]:
len(my_lst)

In [ ]:
sum(my_lst)

In [ ]:
import numpy as np # We just imported our first library! Yahoo!!
np.mean(my_lst)

In [ ]:
!pip install numpy

In [ ]:
# Let's create a list of number without having to type them all manually
# RANGE Function
range(10)

In [ ]:
type(range(10))

In [ ]:
# Let's wrap the above range inside a list to convert the range to a list
list(range(10))

In [ ]:
my_first_lst = list(range(1,11))
my_second_lst = list(range(20,40))
my_third_lst = list(range(10,101,10))

In [ ]:
my_first_lst

In [ ]:
my_second_lst

In [ ]:
my_third_lst

# Session 2

### Python Index
Python's indexing starts from 0. So the first element of any sequence is going to be the 0th index.

Index is like the page numbers in a book. The first page in a book is page number 1. However, in Python, like many other languages, the indexing starts from 0.

On the contrary, in SQL, the indexing starts from 1.

Don't worry, remembering this will soon become second nature to you.

In [ ]:
lst = list(range(1,11,1))

even_sqrd_lst = []
odd_sqrd_lst = []
for i in lst:
    print(i, i**2)
    if i**2%2==0:
        even_sqrd_lst.append(i**2)
    else:
        odd_sqrd_lst.append(i**2)

In [ ]:
even_sqrd_lst

In [ ]:
odd_sqrd_lst

In [ ]:
type(2)

In [ ]:
type('a')

In [ ]:
type(even_sqrd_lst)

In [ ]:
x = {'a':1,'b':2}
x

In [ ]:
x['a']

In [ ]:
x['b']

In [ ]:
type(x)

In [ ]:
i = [1,2,2,3,3,4,5,6,6,7,7,7,8,9,10,10]
i

In [ ]:
list(set())

In [ ]:
x,y=2,8
print(x,y)

In [ ]:
x,y=y,x
print(x,y)

In [ ]:
x=y
y=x
print(x,y)

In [ ]:
string = 'reverse me!'
print(string)
print(string[::-1])

In [ ]:
i

In [ ]:
print(max(set(i), key=i.count))

In [ ]:
print(f"{'topic':.^100}")

In [ ]:
names = ['Kamesh','Lalitha','Attri','Saisha']
names_lengths = {name:len(name) for name in names}

In [ ]:
names_lengths

In [ ]:
def longest(sentence):
    for word in sentence.split():
        longest_even='00'
        longest_odd='0'
        if len(word)%2==0 and len(word)>len(longest_even):
            longest_even=word
        else:
            longest_odd=word
    return [longest_even,longest_odd]

In [ ]:
sent = 'i love python and its one of the best languages in the world for machine learning'
longest(sent)

In [ ]:
jd = f"""
The Portfolio Manager will report directly to the Chief Data Analytics Officer and will play a critical role in providing program management for all Data & Analytics initiatives across Data Science, Data Engineering, Service Delivery, Data Insights, and Robotic Process Automation teams. The position demands a hands-on approach and collaboration with cross-functional teams to drive innovation and ensure adherence to department standards and policies.

Responsibilities

A day in the life of a Data & Analytics Portfolio Manager at Hackensack Meridian Health includes:

· Provide program management for all Data & Analytics initiatives, ensuring alignment with the organizational goals and objectives.

· Advise on and ensure the implementation of correct Client Cloud architecture patterns.

· Design, implement, and manage department-level processes that are efficient and scalable.

· Advise on and ensure the implementation of correct data engineering design patterns.

· Support innovation initiatives, including assisting in the formulation and design of cloud-based AI deployments.

· Advise on and ensure adherence to correct data governance policies and procedures.

· Design and maintain department policies and procedures, ensuring compliance with regulatory standards.

· Determine and monitor department KPIs, and prepare reports for executive review.

· Manage the departmental budget, including planning, allocation, and monitoring expenditures.

· Provide hands-on support for data ingestion, scripting, and Client Cloud deployments.

· Collaborate with cross-functional teams to ensure seamless communication and alignment.

· Analyze large data sets to derive insights and make data-driven decisions.

· Drive a culture of continuous improvement and innovation within the department.

Qualifications Required:

· Education: Minimum of a Bachelor’s degree in Computer Science, Statistics, Mathematics, or a related field.

· Experience: At least 3 years of experience in data science, software engineering, or a related field.

· Experience: At least 5 years of experience in program management.

Skills Required:

· Proficiency in Python

· Proficiency in SQL

· Experience with Client Cloud

· Experience with Looker or comparable data visualization tools

· Knowledge of cloud architecture patterns

· Strong understanding of data governance policies and procedures

· Excellent communication and collaboration skills

· Ability to lead cross-functional teams and drive initiatives

· Strong analytical and problem-solving skills

· Budget management experience

· Experience with Agile

"""
skills = []
jd = jd.replace(',','').replace('·','').replace('.','')
for i in jd.split():
    if i.lower() in ['python','sql','tableau','r','agile','java','ruby','rails','mathematics','statistics','cloud','aws','azure','gcp']:
        skills.append(i.lower())

my_dict = {word:len(word) for word in skills}

{key: value for key, value in sorted(my_dict.items(), key=lambda item: item[1], reverse=True)}